@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');

$primary: #f6d347;
$primary-shadow: #bb851d;

$wrong: #ff2525;
$wrong-shadow: #8f1b1b;

$correct: #0df590;
$correct-shadow: #25af73;


$background: #2c4552;

body{
  height: 400px;
  background: $background;
  font-family: 'Rubik', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: 0 auto;

}

h1{
  font-size: 80px;
  color: $primary;
  margin-top: 140px;
  margin-bottom: 10px;
  filter: drop-shadow(0px 4px 0px  #bb851d);
}

.tagline{
  color: $primary-shadow;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 50px;
}
.word{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.tile{
  font-family: 'Rubik', sans-serif;
  display: flex;
  flex-direction: row;
  font-size: 50px;
  font-weight: 500;
  width: 80px;
  margin: 20px 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  justify-content:center;
  box-shadow: 0px 8px 0px 0px $primary-shadow;
  filter: drop-shadow(0px 5px 2px rgba(32,40,43,.8));
  background: $primary;
  color: #333;
  border-radius: 5px;
  text-transform: uppercase;
  text-align: center;

  &.smaller{
    font-size: 30px;
    width: 60px;
    margin: 10px 5px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &.correct{
    -webkit-animation-name: corr; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: .2s; /* Safari 4.0 - 8.0 */
    animation-name: correct;
    animation-duration: .2s;
    box-shadow: 0px 8px 0px 0px $correct-shadow;
    filter: drop-shadow(0px 5px 2px rgba(32,40,43,.8));
    background: $correct;
  }

  &.wrong{
    -webkit-animation-name: wrong; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: .2s; /* Safari 4.0 - 8.0 */
    animation-name: wrong;
    animation-duration: .2s;
  }
}

@-webkit-keyframes correct {
  from {
    background: $correct;
    font-size: 100px;
    width: 160px;
    box-shadow: 0px 8px 0px 0px $correct-shadow;
  }
  to {
    font-size: 50px;
    width: 80px;
  }
}

/* Standard syntax */
@keyframes correct {
  from {
    background: $correct;
    font-size: 100px;
    width: 160px;
    box-shadow: 0px 8px 0px 0px $correct-shadow;
  }
  to {
    font-size: 50px;
    width: 80px;
  }
}

@-webkit-keyframes wrong {
  from {
    background: $wrong;
    font-size: 30px;
    width: 60px;
    box-shadow: 0px 2px 0px 0px $wrong-shadow;
  }
  to {
    font-size: 50px;
    width: 80px;
  }
}

/* Standard syntax */
@keyframes wrong {
  from {
    background-color: $wrong;
    font-size: 30px;
    width: 60px;
    box-shadow: 0px 2px 0px 0px $wrong-shadow;
  }
  to {
    font-size: 50px;
    width: 80px;
  }
}

#scoreboard{
  position: absolute;
  right:0;
  top: 0;
  z-index: 99;

  #board{
    background: lighten($background,15%);
    box-shadow: 0px 2px 0px 0px lighten($background,2%);
    filter: drop-shadow(0px 5px 2px rgba(32,40,43,.8));
    border-radius: 5px;
    font-size: 40px;
    padding: 20px 30px;
    margin-right: 20px;
    margin-top: 20px;
    width: 80px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3{
      font-size: 15px;
      font-weight: 500;
      margin: 0;
      color: lighten($background,50%);
      margin-bottom: 5px;
    }

    #score{
      color: lighten($background,70%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

  }
}


.instruction{
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-end;
  background: darken($background, 5%);
  padding-top: 30px;
  padding-bottom: 30px;
  bottom: 0;

  div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: lighten($background,30%);
    font-size: 24px;
    margin: 8px;

      .tile{
        width: auto;
        padding: 10px 20px;
        margin-left: 30px;
        margin-right: 10px;
        font-size: 20px;
        color: #333;
      }

  }



}

input{
  background: lighten($background,15%);
  width: 500px;
  border: none;
  border-radius: 5px;
  font-family: 'Rubik', sans-serif;
  font-size: 30px;
  padding: 20px;
  text-align: center;
  color: white;
  outline: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;

  &::placeholder {
    color: darken($background, 12%);
   }
}

.user{
  margin-top: 40px;
  margin-bottom: 40px;
}

#random-string{
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 50px;
  letter-spacing: 2px;
  // margin-top: 20px;
  color: #E9C46A;
}
