@import url("https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap");
body {
  height: 400px;
  background: #2c4552;
  font-family: 'Rubik', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: 0 auto; }

h1 {
  font-size: 80px;
  color: #f6d347;
  margin-top: 140px;
  margin-bottom: 10px;
  filter: drop-shadow(0px 4px 0px #bb851d); }

.tagline {
  color: #bb851d;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 50px; }

.word {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 300px; }

.tile {
  font-family: 'Rubik', sans-serif;
  display: flex;
  flex-direction: row;
  font-size: 50px;
  font-weight: 500;
  width: 80px;
  margin: 20px 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 0px 0px #bb851d;
  filter: drop-shadow(0px 5px 2px rgba(32, 40, 43, 0.8));
  background: #f6d347;
  color: #333;
  border-radius: 5px;
  text-transform: uppercase;
  text-align: center; }
  .tile.smaller {
    font-size: 30px;
    width: 60px;
    margin: 10px 5px;
    padding-top: 15px;
    padding-bottom: 15px; }
  .tile.correct {
    -webkit-animation-name: corr;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: .2s;
    /* Safari 4.0 - 8.0 */
    animation-name: correct;
    animation-duration: .2s;
    box-shadow: 0px 8px 0px 0px #25af73;
    filter: drop-shadow(0px 5px 2px rgba(32, 40, 43, 0.8));
    background: #0df590; }
  .tile.wrong {
    -webkit-animation-name: wrong;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: .2s;
    /* Safari 4.0 - 8.0 */
    animation-name: wrong;
    animation-duration: .2s; }

@-webkit-keyframes correct {
  from {
    background: #0df590;
    font-size: 100px;
    width: 160px;
    box-shadow: 0px 8px 0px 0px #25af73; }
  to {
    font-size: 50px;
    width: 80px; } }

/* Standard syntax */
@keyframes correct {
  from {
    background: #0df590;
    font-size: 100px;
    width: 160px;
    box-shadow: 0px 8px 0px 0px #25af73; }
  to {
    font-size: 50px;
    width: 80px; } }

@-webkit-keyframes wrong {
  from {
    background: #ff2525;
    font-size: 30px;
    width: 60px;
    box-shadow: 0px 2px 0px 0px #8f1b1b; }
  to {
    font-size: 50px;
    width: 80px; } }

/* Standard syntax */
@keyframes wrong {
  from {
    background-color: #ff2525;
    font-size: 30px;
    width: 60px;
    box-shadow: 0px 2px 0px 0px #8f1b1b; }
  to {
    font-size: 50px;
    width: 80px; } }

#scoreboard {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99; }
  #scoreboard #board {
    background: #476f84;
    box-shadow: 0px 2px 0px 0px #304b59;
    filter: drop-shadow(0px 5px 2px rgba(32, 40, 43, 0.8));
    border-radius: 5px;
    font-size: 40px;
    padding: 20px 30px;
    margin-right: 20px;
    margin-top: 30px;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    #scoreboard #board h3 {
      font-size: 15px;
      font-weight: 500;
      margin: 0;
      color: #abc5d2;
      margin-bottom: 5px; }
    #scoreboard #board .score {
      color: #edf3f6;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }

.instruction {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: #233741;
  bottom: 0;
  height: 130px;
  z-index: 999; }
  .instruction div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #6997ae;
    font-size: 24px;
    margin: 8px; }
    .instruction div .tile {
      width: auto;
      padding: 10px 20px;
      margin-left: 30px;
      margin-right: 10px;
      font-size: 20px;
      color: #333; }

input {
  background: #476f84;
  width: 500px;
  border: none;
  border-radius: 5px;
  font-family: 'Rubik', sans-serif;
  font-size: 30px;
  padding: 20px;
  text-align: center;
  color: white;
  outline: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px; }
  input::placeholder {
    color: #17232a; }

.user {
  margin-top: 40px;
  margin-bottom: 40px; }

#random-string {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 50px;
  letter-spacing: 2px;
  color: #E9C46A; }

#guessed-words {
  position: absolute;
  bottom: 130px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  left: 0; }
  #guessed-words .each-word {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 40px;
    color: #41677a;
    margin: 0px 10px; }

#feedback-score {
  position: absolute;
  z-index: 99;
  font-weight: 500;
  font-size: 80px;
  color: lightgreen;
  top: 550px;
  right: 350px; }

#timebar {
  display: block;
  position: absolute;
  top: 0;
  margin: 0 auto;
  background: #f6d347;
  width: 100%;
  height: 10px; }

button {
  font-family: 'Rubik', sans-serif;
  display: flex;
  flex-direction: row;
  font-size: 30px;
  font-weight: 500;
  margin: 20px 5px;
  padding: 20px 40px;
  border: none;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 0px 0px #bb851d;
  filter: drop-shadow(0px 5px 2px rgba(32, 40, 43, 0.8));
  background: #f6d347;
  color: #333;
  border-radius: 5px;
  text-transform: uppercase;
  text-align: center;
  z-index: 200; }
  button:hover {
    box-shadow: 0px 2px 0px 0px #bb851d;
    transform: translateY(6px); }
  button:focus {
    outline: #1a2931; }
