@import url("https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap");
body {
  font-family: 'Rubik', sans-serif;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #2c4552;
  z-index: -1;
  margin: 0; }

#game-intro {
  visibility: visible;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
  width: 100%;
  height: 100%; }

#in-game {
  visibility: hidden;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; }

#game-end {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-around; }
  #game-end .modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 70%;
    background: #2c4552;
    z-index: 999;
    border-radius: 5px; }
    #game-end .modal #board {
      margin-bottom: 30px;
      margin-top: 20px; }
    #game-end .modal button {
      font-size: 26px;
      padding: 20px 30px; }

#instruction {
  visibility: visible;
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: #233741;
  bottom: 0;
  height: 130px; }
  #instruction div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #6997ae;
    font-size: 24px;
    margin: 8px; }
    #instruction div .tile {
      width: auto;
      padding: 10px 20px;
      margin-left: 30px;
      margin-right: 10px;
      font-size: 20px;
      color: #333; }

button {
  font-family: 'Rubik', sans-serif;
  display: flex;
  flex-direction: row;
  font-size: 30px;
  font-weight: 500;
  margin: 20px;
  padding: 20px 40px;
  border: none;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 0px 0px #bb851d;
  filter: drop-shadow(0px 5px 2px rgba(32, 40, 43, 0.8));
  background: #f6d347;
  color: #333;
  border-radius: 5px;
  text-transform: uppercase;
  text-align: center;
  z-index: 200; }
  button:hover {
    box-shadow: 0px 2px 0px 0px #bb851d;
    transform: translateY(6px); }
  button:focus {
    outline: #1a2931; }

#starter {
  font-size: 200px;
  color: #f6d347;
  font-weight: bold;
  filter: drop-shadow(0px 4px 0px #bb851d); }

h1 {
  font-size: 100px;
  color: #f6d347;
  filter: drop-shadow(0px 4px 0px #bb851d);
  font-weight: bold;
  margin-bottom: 20px; }

.rotate-3 {
  transform: rotate(20deg); }

.rotate-2 {
  transform: rotate(10deg); }

.rotate-1 {
  transform: rotate(5deg); }

.rotate--3 {
  transform: rotate(-20deg); }

.rotate--2 {
  transform: rotate(-10deg); }

.rotate--1 {
  transform: rotate(-5deg); }

.tagline {
  color: #f6d347;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 50px;
  line-height: 1.4;
  text-align: center; }

.words-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.word {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 30px; }

.tile {
  font-family: 'Rubik', sans-serif;
  display: flex;
  flex-direction: row;
  font-size: 60px;
  font-weight: 500;
  width: 80px;
  margin: 20px 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 0px 0px #bb851d;
  filter: drop-shadow(0px 5px 2px rgba(32, 40, 43, 0.8));
  background: #f6d347;
  color: #333;
  border-radius: 5px;
  text-transform: uppercase;
  text-align: center; }
  .tile.smaller {
    font-size: 50px;
    width: 70px;
    margin: 10px 5px;
    padding-top: 15px;
    padding-bottom: 15px; }
  .tile.correct {
    -webkit-animation-name: correct;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: .2s;
    /* Safari 4.0 - 8.0 */
    animation-name: correct;
    animation-duration: .2s;
    box-shadow: 0px 8px 0px 0px #25af73;
    filter: drop-shadow(0px 5px 2px rgba(32, 40, 43, 0.8));
    background: #0df590; }
  .tile.wrong {
    -webkit-animation-name: wrong;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: .2s;
    /* Safari 4.0 - 8.0 */
    animation-name: wrong;
    animation-duration: .2s; }

.button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

#timebar {
  display: block;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  margin: 0 auto;
  background: #f6d347;
  width: 100%;
  height: 15px; }

@-webkit-keyframes correct {
  from {
    background: #0df590;
    font-size: 100px;
    width: 160px;
    box-shadow: 0px 8px 0px 0px #25af73; }
  to {
    font-size: 50px;
    width: 80px; } }

/* Standard syntax */
@keyframes correct {
  from {
    background: #0df590;
    font-size: 100px;
    width: 160px;
    box-shadow: 0px 8px 0px 0px #25af73; }
  to {
    font-size: 50px;
    width: 80px; } }

@-webkit-keyframes wrong {
  from {
    background: #ff2525;
    font-size: 30px;
    width: 60px;
    box-shadow: 0px 2px 0px 0px #8f1b1b; }
  to {
    font-size: 50px;
    width: 80px; } }

/* Standard syntax */
@keyframes wrong {
  from {
    background-color: #ff2525;
    font-size: 30px;
    width: 60px;
    box-shadow: 0px 2px 0px 0px #8f1b1b; }
  to {
    font-size: 50px;
    width: 80px; } }

#display-word {
  height: 150px; }

#scoreboard {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99;
  margin-right: 20px;
  margin-top: 30px; }

#board {
  background: #476f84;
  box-shadow: 0px 2px 0px 0px #304b59;
  filter: drop-shadow(0px 5px 2px rgba(32, 40, 43, 0.8));
  border-radius: 5px;
  font-size: 40px;
  padding: 20px 30px;
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  #board h3 {
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    color: #abc5d2;
    margin-bottom: 5px; }
  #board .score {
    color: #edf3f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }

input {
  background: #476f84;
  width: 500px;
  border: none;
  border-radius: 5px;
  font-family: 'Rubik', sans-serif;
  font-size: 30px;
  padding: 20px;
  text-align: center;
  color: white;
  outline: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px; }
  input::placeholder {
    color: #17232a; }

.user {
  margin-top: 40px;
  margin-bottom: 40px; }

#random-string {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 50px;
  letter-spacing: 2px;
  margin-bottom: 20px;
  color: #E9C46A; }

#guessed-words {
  position: absolute;
  bottom: 130px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  left: 0; }
  #guessed-words .each-word {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 40px;
    color: #41677a;
    margin: 0px 10px; }

#feedback-score {
  position: absolute;
  z-index: 99;
  font-weight: 500;
  font-size: 80px;
  color: lightgreen;
  top: 550px;
  right: 350px; }
